<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Cart">
            <directory>./module/Cart/test/CartTest</directory>
        </testsuite>
        <testsuite name="Products">
            <directory>./module/Products/test/ProductsTest</directory>
        </testsuite>
        <testsuite name="Orders">
            <directory>./module/Orders/test/OrdersTest</directory>
        </testsuite>
    </testsuites>
</phpunit>